<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cryptory</title>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<script>
  const user = {
    data: '<%- JSON.stringify(user) %>'
  };
</script>
<div id="profile"></div>
</body>
<script src="profile.bundle.js"></script>
</html>
